/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    min-width: 100vh;
    width: 100%;
}
.bg-primary {
    background-color: #6b48ff !important;
}
.bg-secondary {
    background-color: #1ee3cf !important;
}
#mapid {
    width: auto;
    height: 100%;
    min-height: 400px;
    min-width: auto;
}

.row-navbar {
    background-color: #0d3f67;
}

.navbar a {
    color: white;
}

.jumbotron-bg {
    height: 90%;
    background: url(../img/pileta.png) no-repeat;
    background-size: cover;
    color: white;
}

.content-align {
    margin-top: 20%;
}

.carousel-caption {
    background: linear-gradient(rgba(102, 102, 255, .7), rgba(102, 153, 153, .5));
}

.jumbotron-info {
    background: #6b48ff;
    color: white;
}

.container-img {
    background: url(../img/fondo.png);
    color: white;
}

.img-button-instalaciones {
    min-height: 5em;
    min-width: auto;
    max-height: 10em;
    max-width: auto;
    height: 5em;
}

/* kdlsk */

.text-btn-instalaciones {
    color: white;
}

.btn-instalaciones:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.card-img-overlay {
    color: white;
}

.card .card-img {
    min-width: 90px;
}

@media (min-width: 768px) {
    .galery.card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
    .especificacion.card-columns.pileta {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .especificacion.card-columns.quincho,
     .especificacion.card-columns.espacios,
     .especificacion.card-columns.cabanas,
     .more-information {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 768px) {
    .galery.card-columns, .especificacion.card-columns.cabanas, 
    .especificacion.card-columns.pileta, .especificacion.card-columns.quincho, 
    .especificacion.card-columns.espacios,.more-information.card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.especificacion .card, .more-information .card {
    border: none;
}

.card-tumbail {
    width: 100px;
}

.card .image {
    background-color: red;
    border-radius: 50%;
}

.especificacion .list-group-item, .more-information .list-group-item,
.info-contact .card, .info-contact .list-group-item {
    border: none;
    padding: 0px;
}

.location-info {
    background-color: #6b48ff;
    color: white;
}
.info-contact {
    background-color: #1ee3cf;
}



.location-info .mapa {
    padding: 0;
}

.locator-image {
    width: 100px;
}

.image-contact {
    /* height: 90px; */
    background: url(../img/contact-image.png) no-repeat;
    background-size: cover;
}


.info-contact .card, .info-contact .list-group-item {
    background-color: transparent;
    
}